.color-darker {
    color: #35424a;
}

.color-lighter {
    color: #989eb1;
}

.color-light {
    color: #cfcfcf;
}

.color-red-light {
    color: #f85f6a;
}

.color-gold {
    color: #d79a10;
}

.bg-red-light {
    background-color: #df161e30;
}
