@font-face {
    font-family: "Quicksand-Regular";
    src: url("../font/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "Quicksand-Bold";
    src: url("../font/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "Asap-Regular";
    src: url("../font/Asap-Regular.ttf");
}

@font-face {
    font-family: "Asap-Bold";
    src: url("../font/Asap-Bold.ttf");
}

.font-quicksand{
    font-family: 'Quicksand-Regular', sans-serif;
}

.font-asap {
    font-family: 'Asap-Regular', sans-serif;
}

.bold {
    font-weight: bold;
}

.animate {
    transition: all 0.4s;
}

.cursor {
    cursor: pointer;
}

.circle{
    border-radius: 50%;
}

.list-style-none {
    list-style: none;
}

.low-font-size {
    font-size: 16px;
}

.mh-100-vh {
    min-height: 100vh;
}

.mh-100 {
    min-height: 100%;
}

.bg-white {
    background-color: white;
}

.bg-transparent {
    background: transparent;
}

my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.border-bottom{
    border-bottom: 1px solid black;
}

.border-top{
    border-top: 1px solid black;
}

.mxh-20 {
    max-height: 15vh;
}

.overF-y {
    overflow-y: auto;
}

.capitalize {
    text-transform: uppercase;
}

.very-rounded {
    border-radius: 20px;
}

.border {
 border: 2px black solid;
}

.shadow {
    box-shadow: 0px 5px 10px rgba(248, 95, 106, 0.23);
}

.border-red {
    border: 2px solid darkred;
    border-radius: 18px;
}
