body{
    overflow-x: hidden;
}

input::placeholder{
    font-family: Asap-Bold;
}

.form-control {
    border-width: 0 0 2px 0;
    border-color: #ebebeb;
    border-style: solid;
}

.form-control:focus {
    box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #df161e;
    border-style: solid;
}

.btn-primary {
    padding-bottom: 8px;
    padding-top: 8px;
    color: #fff;
    border-color: #df161e;
    box-shadow: 0px 5px 10px rgba(248, 95, 106, 0.23);
    background: #df161e;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f85f6a;
    border-color: #f85f6a;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #f85f6a;
    border-color: #f85f6a;
}

ul > li.active > a > .ico.active, ul > li > a > .ico:active, ul > li.active > a > .ico:focus{
    color: #df161e;
}

ul > li.active > a > .text.active, ul > li > a > .text:active, ul > li.active > a > .text:focus{
    color: #000;
}

ul > li.active, ul > li.active:active, ul > li.active:focus{
    background-color: #f85f6a25;
}

ul > li > a > .ico.carret:focus, ul > li > a > .ico.carret:active, ul > li.active > a > .ico.carret.active{
    transform: rotate(180deg);
}

a:focus, a:active, a:hover {
    text-decoration: none;
}

a:hover {
    color: #df161e;
}

#parametre
{
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 0.3em;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    width:100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}


#contenu{
    min-height: 100vh;
}

.btn-without-style {
    border: none;
    background-color: transparent;
}

.message-receive{
    margin-right: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 6px;
    border-radius: 20px 20px 20px 0;
    border: 1px solid black;
    background-color: #e692f835;
}

.message-send {
    border-radius: 20px 20px 0 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: #F85F6A35;
    margin-left: 90px;
    padding: 8px 6px;
}

.bigger-font-size {
    font-size: 200px;
}
